.dart_tool/
.packages
.pub/
build/

.idea/
.vscode/
*.iml

android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

*.db
*.sqlite
.env
.env.*

.DS_Store
Thumbs.db
.flutter-plugins-dependencies
